body{
    font-family:sans-serif;
    background-image:url('./images/dog.jpg');
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    background-color:#333;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

a{
    color:#222;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

header .group{
    color:#222;
    margin:10px;
    padding:4px;
    width:300px;
    background-color:#EEE;
    opacity:0.85;
}

header .group h5{
    float:left;
    margin:0;
    width:55px;
}

header .group ul{
    float:left;
    margin:0;
    padding-left:60px;
    list-style:none;
}

.clearfix{
    clear:both;
}

footer{
    position:absolute;
    bottom:0;
    right:0;
    background-color:#EEE;
    opacity:0.6;
    padding:3px;
    cursor:pointer;
    min-width:16px;
    transition:opacity 0.5s;
}

footer:hover{
    opacity:0.85;
}

footer:hover .rollover{
    display:none;
}

footer:hover .hidden_panel{
    width:305px;
    height:16px;
}

footer .hidden_panel{
    width:0;
    height:0;
    transition:width 0.5s;
    overflow:hidden;
}

footer img{
    float:right;
    height:16px;
}
