@import url(//fonts.googleapis.com/css?family=Roboto);

@media screen and (max-width: 360px) {
    html{
        height:100%;
        min-height:100%;
    }
    body{
        min-height:100%;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    background-image:url('./images/dog.jpg');
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    background-color:#333;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

a{
    color:#222;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

header .group{
    color:#222;
    margin:10px;
    padding:8px;
    width:250px;
    background-color:#EEE;
    opacity:0.85;
}

header .group h5{
    float:left;
    margin:0;
    width:95px;
}

header .group ul{
    float:right;
    margin:0;
    list-style:none;
    font-size:0.9em;
    padding:0;
}

header .group ul li a{
    float:right;
}


header .group ul li{
    clear:both;
}

header .group .contact_icons{
    float:right;
}

.clearfix{
    clear:both;
}

footer{
    position:absolute;
    bottom:0;
    right:0;
    background-color:#EEE;
    opacity:0.6;
    padding:3px;
    cursor:pointer;
    min-width:16px;
    transition:opacity 0.2s;
}

footer:hover{
    opacity:0.85;
}

footer i{
    padding-left:1px;
}

footer:hover .rollover{
    display:none;
}

footer:hover .hidden_panel{
    width:240px;
    height:18px;
}

footer .hidden_panel{
    font-size:0.8em;
    width:0;
    height:0;
    transition:width 0.15s;
    overflow:hidden;
    padding:0;
    margin:0;
}

footer .hidden_panel .info_wrapper{
    width:240px;
    display:inline-block;
}

footer img{
    float:right;
    height:16px;
}
